/.github/workflows/ @JoachimSchirra
/.github/CODEOWNERS @JoachimSchirra
/.github/dependabot.yml @JoachimSchirra
/tools/ @JoachimSchirra
/_layouts/ @JoachimSchirra
/_includes/ @JoachimSchirra
/_data/ @JoachimSchirra
/.pages.yml @JoachimSchirra
/_config.yml @JoachimSchirra
/_config.production.yml @JoachimSchirra
/package.json @JoachimSchirra
/package-lock.json @JoachimSchirra
/projects/ @JoachimSchirra
/evidence/ @JoachimSchirra
/journal/index.md @JoachimSchirra
/search/ @JoachimSchirra
/inside-llsg/people/index.md @JoachimSchirra
/inside-llsg/business-episodes/index.md @JoachimSchirra
/inside-llsg/off-duty/index.md @JoachimSchirra
/llsg/index.md @JoachimSchirra
/llsg/specialty-pharmaceuticals/index.md @JoachimSchirra
/llsg/specialty-pharmaceuticals/chronundo/index.md @JoachimSchirra
/llsg/medical-devices-mobility/index.md @JoachimSchirra
/llsg/digital-health-connected-care/index.md @JoachimSchirra
/xray/ @JoachimSchirra
/sap-journey/ @JoachimSchirra
